// Body Styling
body,
html {
  color: var(--ng-text-color);
  font-size: var(--font-size);
  background-color: var(--surface-ground);

  // Arabic Language Support
  &:lang(ar) {
    line-height: 1.5;
    direction: rtl;
    font-family: var(--font-family-tajawal);
  }

  &:lang(en) {
    font-family: var(--font-family-cabin);
  }
}

// Global Reset
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
