.fs-1,
h1 {
  font-size: calc(var(--font-size) * 3.5) !important;
}

.fs-2,
h2 {
  font-size: calc(var(--font-size) * 2) !important;
}

.fs-3,
h3 {
  font-size: calc(var(--font-size) * 1.375) !important;
}

.fs-4,
h4 {
  font-size: calc(var(--font-size) * 1.25) !important;
}

.fs-5,
h5 {
  font-size: calc(var(--font-size) * 1.125) !important;
}

.fs-6,
h6 {
  font-size: calc(var(--font-size) * 1) !important;
}
