<h1 class="header">Test</h1>
<h2>Test2</h2>
<h3>Test3</h3>
<h4>Test4</h4>
<h5>Test5</h5>
<h6>Test6</h6>
<p>paragraph</p>

<button type="button" class="btn btn-primary">More Details</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
