<div class="container-fluid">
  <div class="row pt-md-5 pt-sm-3">
    <!-- --------------------- -->
    <!-- title and description -->
    <!-- --------------------- -->
    <div class="col-md-6 pt-md-5 mb-4">
      <div id="title-section" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators m-0 justify-content-start">
          <button
            type="button"
            data-bs-target="#title-section"
            data-bs-slide-to="0"
            class="indicator-icon border-0 active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#title-section"
            data-bs-slide-to="1"
            aria-label="Slide 2"
            class="indicator-icon border-0"
          ></button>
          <button
            type="button"
            data-bs-target="#title-section"
            data-bs-slide-to="2"
            aria-label="Slide 3"
            class="indicator-icon border-0"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active text-white">
            <h1 class="mb-3 title">{{ "LANDING.TITLE_1" | translate }}</h1>
            <p class="mb-4 description">
              {{ "LANDING.DESCRIPTION_1" | translate }}
            </p>
            <button type="button" class="btn btn-primary px-5">
              {{ "LANDING.MORE_DETAILS" | translate }}
            </button>
          </div>
          <div class="carousel-item text-white">
            <h1 class="mb-3 title">{{ "LANDING.TITLE_1" | translate }}</h1>
            <p class="description mb-4">
              {{ "LANDING.DESCRIPTION_1" | translate }}
            </p>
            <button type="button" class="btn btn-primary px-5">
              {{ "LANDING.MORE_DETAILS" | translate }}
            </button>
          </div>
          <div class="carousel-item text-white">
            <h1 class="mb-3 title">{{ "LANDING.TITLE_1" | translate }}</h1>
            <p class="description mb-4">
              {{ "LANDING.DESCRIPTION_1" | translate }}
            </p>
            <button type="button" class="btn btn-primary px-5">
              {{ "LANDING.MORE_DETAILS" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ------ -->
    <!-- image  -->
    <!-- ----- -->
    <div class="col-md-6 d-md-block">
      <div class="main-image text-end">
        <img src="assets\images\landing\img.svg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
