@import "../../../../assets/styles/typography/mixin";

.title {
  @include text-bold(
    $size: var(--fs-1),
    $color: $color-white !important,
    $line-height: unset
  );
}

.description {
  @include text-regular(
    $size: var(--fs-4),
    $color: $color-white !important,
    $line-height: unset
  );
}

.carousel-indicators {
  bottom: -3rem;
}

.indicator-icon {
  width: 1.5rem;
  height: 10px;
  background-color: $color-darker-blue;
  border-radius: 50rem;
  opacity: 1;
  &.active {
    width: 2rem;
    background-color: $color-blue;
  }
}
